body {
  background: #f0f0f0;
  font-family: system-ui, sans-serif;
}
:root {
  --yellow: #facc15;
}
html,
body {
  height: 100%;
  margin: 0;
}

.full-height {
  height: 100vh;
}

.center{
  display: flex;
  align-items: center;
  justify-content: center;
}
