#sidebar {
  width: 16rem;
  background: linear-gradient(to bottom, #312e81, #7c3aed);
  color: white;
  z-index: 1050;
}



@media (min-width: 1024px) {
  #sidebar {
    transform: translateX(0);
    position: static !important;
    height: 100vh;
    box-shadow: none;
  }
  
}

.sidebar-btn:hover:not(.active) {
  background: rgba(255, 255, 255, 0.1);
  transform: translateX(0.5rem);
}

.sidebar-btn.active {
  background: rgba(255, 255, 255, 0.2);
  color: var(--yellow) !important;
  transform: scale(1.05);
}

.sidebar-btn svg {
  width: 20px;
  height: 20px;
  margin-right: 12px;
  flex-shrink: 0;
}

.sidebar-btn span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
